.grl-dn {
  --node-border-radius: 8px;
  --node-horizontal-padding: 16px;
  --node-color: var(--grl-color-primary);

  display: flex;
  flex-direction: column;
  border: 1px solid var(--grl-color-border);
  background: var(--grl-color-bg-container);
  cursor: grab;
  border-radius: var(--node-border-radius);

  &:hover {
    border-color: var(--grl-color-primary-hover);
  }

  &--color {
    &--primary {
      --node-color: var(--grl-color-primary);
    }

    &--secondary {
      --node-color: #722ed1;
    }
  }

  &__header {
    display: grid;
    padding: 12px var(--node-horizontal-padding);
    gap: 16px;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;

    &__icon {
      font-size: 24px;
      border-radius: 4px;
      padding: 6px;
      background-color: var(--node-color);
      color: white;

      //background-color: #e6f4ff;
      //color: black;
    }

    &__text {
      display: flex;
      flex-direction: column;

      &__name {
        padding: 2px;
        border-radius: 4px;

        &:hover {

        }
      }

      > span {
        line-height: 1.35;
      }

      > [contenteditable]:focus-within {
        outline: none;
        cursor: text;
      }
    }

    &__actions {

    }
  }

  &__body {
    padding: 16px var(--node-horizontal-padding);
    border-top: 1px solid var(--grl-color-border);

    &--no-footer {
      border-radius: 0 0 var(--node-border-radius) var(--node-border-radius);
    }

    &--no-padding {
      padding: 0;
    }
  }

  &__footer {
    background: #f7f9fc;
    border-radius: 0 0 var(--node-border-radius) var(--node-border-radius);
    border-top: 1px solid var(--grl-color-border);

    &__actions {
      display: flex;
    }
  }
}