.grl-dg {
  height: 100%;

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  &__command-bar {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-border);
  }

  &__graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tabs {
      max-width: 100%;
      background-color: var(--color-bg-container);

      .ant-tabs-nav {
        margin: 0 !important;
      }
    }

    .tab-content {
      flex: 1;
      width: 100%;
      height: 100%;
      position: relative;
      display: none;
      background-color: var(--color-bg-container);

      &.active {
        display: flex;
        flex-direction: column;
      }
    }

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }

    .react-flow {
      flex: 1;
      height: 100%;
      width: 100%;
      background-color: var(--color-bg-container);
    }

    .node {
      width: 180px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 0 8px;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      position: relative;
      background-color: var(--color-bg-elevated);
      transition: all 0.2s;

      &:hover {
        border-color: var(--color-primary-hover);
        cursor: pointer;
      }

      &.selected {
        border-color: var(--color-primary-active);
      }

      &.simulated {
        background-color: var(--color-primary-bg);
        border-color: var(--color-primary-active);
      }

      &.error {
        background-color: var(--color-error-bg);
        border-color: var(--color-error-border);
      }

      &.input,
      &.output {
        border-radius: 100px;
      }

      .performance {
        position: absolute;
        top: -20px;
        right: 8px;
      }
    }
  }

  &__aside {
    background-color: var(--color-bg-container);
    width: 240px;
    min-width: 240px;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid var(--color-border);

    .wrapper {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      box-sizing: border-box;
      user-select: none;
      height: 100%;
    }

    .list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
    }

    .component {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border: 1px solid var(--color-border);
      cursor: grab;
      border-radius: 6px;

      &.disabled {
        background-color: var(--color-bg-container-disabled);
        cursor: not-allowed;
        user-select: none;
      }
    }

    .node-form {
      position: relative;
      padding: 1rem;

      .button {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 99;
      }

      .form {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .react-flow {
    &__handle {
      border: 1px solid var(--color-primary-border) !important;
      background-color: var(--color-primary-bg) !important;
      height: 7px !important;
      width: 7px !important;
      border-radius: 50% !important;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        //border: 1px solid var(--color-primary-border) !important;
      }
    }

    &__handle-left {
      left: -5px !important;

      &::after {
        transform: translate(-60%, -50%);
      }
    }

    &__handle-right {
      right: -5px !important;

      &::after {
        transform: translate(-40%, -50%);
      }
    }

    &__edge-path-selector {
      fill: none;
      stroke: transparent;
      stroke-width: 15;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .react-flow__edge-path-selector:hover + .react-flow__edge-path,
  .react-flow__edge-path:hover {
    stroke: var(--color-primary-border-hover);
    cursor: pointer;
  }

  .react-flow__panel {
    box-shadow: none;
    border: 1px solid var(--color-border);
  }

  .react-flow__controls-button {
    background: var(--color-bg-elevated);
    color: var(--color-text);
    border-color: var(--color-border);
    transition: .15s background-color ease-in-out;

    &:hover {
      background: var(--color-primary-hover);
    }

    svg {
      fill: currentColor;
    }
  }

  .react-flow__attribution {
    color: var(--color-text);
    border: none;
    background: transparent;
  }

  .grl-dt__container {
    padding-bottom: 2.5rem;
  }
}
