.grl-ce {
  --ce-lineHeight: 1.5em;
  --ce-verticalPadding: 4px;
  --ce-horizontalPadding: 11px;

  .cm-diagnosticMessageToken {
    padding: 2px 5px 3px;
    border-radius: 5px;
    background: #2b2d30;
  }

  &.max-rows {
    .cm-editor {
      max-height: calc(var(--editorMaxRows) * var(--ce-lineHeight) + 2 * var(--ce-verticalPadding));
    }
  }

  &.full-height {
    height: 100%;

    .cm-editor {
      height: 100%;
    }
  }

  &.no-style {
    .cm-editor {
      border: none;
      border-radius: unset;
      &.cm-focused {
        box-shadow: unset;
      }

      &:hover {
        border-inline-end-width: unset;
      }
    }
  }

  .cm-editor {
    background: var(--grl-color-bg-container);
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--grl-color-border);
    border-color: var(--grl-color-border);
    border-radius: 6px;
    transition:
      border-color,
      box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    line-height: var(--ce-lineHeight);

    &.cm-focused {
      outline: none;
      box-shadow: 0 0 0 2px var(--grl-control-outline);
      border-color: var(--grl-color-primary-hover);
    }

    &:hover {
      border-color: var(--grl-color-primary-hover);
      border-inline-end-width: 1px;
    }
  }

  .cm-editor[data-severity='error'] {
    background: var(--grl-color-error-bg) !important;
    border-color: var(--grl-color-error-border) !important;
  }

  .cm-editor[data-severity='warning'] {
    background: var(--grl-color-warning-bg) !important;
    border-color: var(--grl-color-warning-border) !important;
  }

  .cm-scroller {
    line-height: inherit;
  }

  .cm-widgetBuffer {
    display: none;
  }

  .cm-placeholder {
    display: inline;
  }

  .cm-content {
    padding: var(--ce-verticalPadding) var(--ce-horizontalPadding);
  }

  .cm-completionDetail {
    font-style: normal;
    color: var(--grl-color-text-secondary);
  }

  .cm-line {
    padding: 0;
    caret-color: var(--grl-color-text);

    &:focus-visible {
      outline: none;
    }
  }

  .cm-tooltip {
    font-family: var(--grl-font-family);
    font-size: 13px;
    background: var(--grl-color-bg-elevated);
    border: none;
    border-radius: 6px;
    color: var(--grl-color-text);

    > ul {
      li {
        &[aria-selected] {
          background: var(--grl-color-primary-hover);
          color: white;

          .cm-completionDetail {
            color: white;
          }
        }
      }
    }

    > * {
      border: 1px solid var(--grl-color-border);
      border-radius: 6px;
    }

    .cm-tooltip-section:not(.cm-tooltip-lint) {
      background: #f5f5f5;
      padding: 4px;
    }

    .cm-tooltip-lint {
      background: #fff1f0;
      border: 1px solid #ffccc7;
      padding: 4px;
    }

    .cm-diagnostic-error {
      border-left-color: #ff7875;
    }

    .cm-diagnosticSource {
      font-size: 75%;
    }
  }

  .cm-completionIcon-function::after,
  .cm-completionIcon-method::after {
    content: 'ƒ';
  }

  .cm-completionIcon-class::after {
    content: '○';
  }

  .cm-completionIcon-interface::after {
    content: '◌';
  }

  .cm-completionIcon-variable::after {
    content: '𝑥';
  }

  .cm-completionIcon-constant::after {
    content: '𝐶';
  }

  .cm-completionIcon-type::after {
    content: '𝑡';
  }

  .cm-completionIcon-enum::after {
    content: '∪';
  }

  .cm-completionIcon-property::after {
    content: '□';
  }

  .cm-completionIcon-keyword::after {
    content: '🔑\uFE0E';
  }

  .cm-completionIcon-namespace::after {
    content: '▢';
  }

  .cm-completionIcon-text::after {
    content: 'abc';
    font-size: 50%;
    vertical-align: middle;
  }
}

.grl-ce-hover-tooltip {
  font-family: var(--grl-font-family);
  font-size: 13px;
  background: var(--grl-color-bg-elevated) !important;
  border: none;
  border-radius: 6px;
  color: var(--grl-color-text);
}
