@function lintRangeImage($color, $stroke-width) {
  $encoded-color: '%23' + str-slice('#{$color}', 2);

  @return 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="3">%3Cpath%20d%3D%22m0%202.5%20l2%20-1.5%20l1%200%20l2%201.5%20l1%200%22%20stroke%3D%22#{$encoded-color}%22%20fill%3D%22none%22%20stroke-width%3D%22#{$stroke-width}%22%2F%3E</svg>';
}

.grl-ce {
  --ce-lineHeight: 1.5em;
  --ce-verticalPadding: 4px;
  --ce-horizontalPadding: 11px;

  .cm-diagnosticMessageToken {
    padding: 2px 5px 3px;
    border-radius: 5px;
    background: #2b2d30;
  }

  .cm-hoverTooltipMessageToken {
    filter: contrast(2) brightness(0.75);
  }

  .cm-lintRange {
    padding-bottom: 2.5px;

    &-warning {
      background-image: url('#{lintRangeImage(#FFA500, 1.2)}');
    }

    &-error {
      background-image: url('#{lintRangeImage(#FF0000, 1.2)}');
    }
  }

  .cm-tooltip.cm-tooltip-below {
    margin-top: 8px;
  }

  &.max-rows {
    .cm-editor {
      max-height: calc(3px + var(--editorMaxRows) * var(--ce-lineHeight) + 2 * var(--ce-verticalPadding));
    }
  }

  &.full-height {
    height: 100%;

    .cm-editor {
      height: 100%;
    }
  }

  &.no-style {
    .cm-editor {
      border: none;
      border-radius: unset;

      &.cm-focused {
        box-shadow: unset;
      }

      &:hover {
        border-inline-end-width: unset;
      }
    }
  }

  .cm-editor {
    background: var(--grl-color-bg-container);
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--grl-color-border);
    border-color: var(--grl-color-border);
    border-radius: 6px;
    transition:
      border-color,
      box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    line-height: var(--ce-lineHeight);

    &.cm-focused {
      outline: none;
      box-shadow: 0 0 0 2px var(--grl-control-outline);
      border-color: var(--grl-color-primary-hover);
    }

    &:hover {
      border-color: var(--grl-color-primary-hover);
      border-inline-end-width: 1px;
    }
  }

  .cm-editor[data-severity='error'] {
    background: var(--grl-color-error-bg) !important;
    border-color: var(--grl-color-error-border) !important;
  }

  .cm-editor[data-severity='warning'] {
    background: var(--grl-color-warning-bg) !important;
    border-color: var(--grl-color-warning-border) !important;
  }

  .cm-scroller {
    line-height: inherit;
  }

  .cm-widgetBuffer {
    display: none;
  }

  .cm-placeholder {
    display: inline;
  }

  .cm-content {
    padding: var(--ce-verticalPadding) var(--ce-horizontalPadding);
  }

  .cm-completionDetail {
    font-style: normal;
    color: var(--grl-color-text-secondary);
  }

  .cm-line {
    padding: 0;
    caret-color: var(--grl-color-text);

    &:focus-visible {
      outline: none;
    }
  }

  .cm-tooltip {
    font-family: var(--grl-font-family);
    font-size: 13px;
    background: var(--grl-color-bg-elevated);
    border: none;
    border-radius: 6px;
    color: var(--grl-color-text);

    > ul {
      li {
        &[aria-selected] {
          background: var(--grl-color-primary-hover);
          color: white;

          .cm-completionDetail {
            color: white;
          }
        }
      }
    }

    > * {
      border: 1px solid var(--grl-color-border);
      border-radius: 6px;
    }

    .cm-tooltip-section:not(.cm-tooltip-lint) {
      background: #f5f5f5;
      padding: 4px;
    }

    .cm-tooltip-lint {
      background: #fff1f0;
      border: 1px solid #ffccc7;
      padding: 4px;
    }

    .cm-diagnostic-error {
      border-left-color: #ff7875;
    }

    .cm-diagnosticSource {
      font-size: 75%;
    }
  }

  .cm-tooltip-autocomplete li {
    padding: 4px 4px !important;
    display: flex;
    font-size: 12px;
  }

  .cm-completionIcon::after {
    color: var(--icon-primary);
    background: var(--icon-secondary);
    border-radius: 50%;
    border: 1px solid var(--icon-primary);

    font-size: 8px;
    width: 2.25ch;
    height: 2.25ch;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .cm-completionIcon {
    margin-right: 4px;
    opacity: 1;
  }

  .cm-completionIcon-function::after,
  .cm-completionIcon-method::after {
    content: 'f';
    --icon-primary: #db3e4e;
    --icon-secondary: #fff8f7;
  }

  .cm-completionIcon-class::after {
    content: 'C';
    --icon-primary: #3876f0;
    --icon-secondary: #e7eefd;
  }

  .cm-completionIcon-interface::after,
  .cm-completionIcon-type::after {
    content: 'I';
    --icon-primary: #238b3e;
    --icon-secondary: #f2fcf3;
  }

  .cm-completionIcon-variable::after,
  .cm-completionIcon-constant::after {
    content: 'v';
    --icon-primary: #e66f1a;
    --icon-secondary: #fff5eb;
  }

  .cm-completionIcon-enum::after {
    content: 'E';
    --icon-primary: #3876f0;
    --icon-secondary: #e7eefd;
  }

  .cm-completionIcon-property::after {
    content: 'P';
    --icon-primary: #8450ef;
    --icon-secondary: #faf5ff;
  }

  .cm-completionIcon-keyword::after {
    content: 'k';
    --icon-primary: #e66f1a;
    --icon-secondary: #fff5eb;
  }

  .cm-completionIcon-namespace::after {
    content: 'n';
    --icon-primary: #238b3e;
    --icon-secondary: #f2fcf3;
  }

  .cm-completionIcon-text::after {
    content: 'abc';
    font-size: 50%;
    vertical-align: middle;
  }
}

.grl-ce-hover-tooltip {
  font-family: var(--grl-font-family);
  font-size: 13px;
  background: var(--grl-color-bg-elevated) !important;
  border: none;
  border-radius: 6px;
  color: var(--grl-color-text);
  padding: 2px 8px !important;
}
