.grl-dg {
  font-family: var(--grl-font-family);
  height: 100%;
  display: grid;
  grid-template-areas: 'sidebar graph component' 'bottom bottom component';
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr auto;

  &.hidden-left-toolbar {
    grid-template-areas: 'graph component' 'bottom component';
    grid-template-columns: 1fr min-content;
  }
  * {
    box-sizing: border-box;
  }

  .react-flow__handle {
    cursor: crosshair !important;
    transition: 0.2s all;
    transform-origin: 50% calc(50% + 3.5px);
    opacity: 0.75;

    &-connecting,
    &:hover {
      transform: scale(2);
      background-color: var(--grl-color-primary-bg-hover);
      opacity: 1;
    }
  }

  .nodrag {
    cursor: initial;
  }

  &__content {
    grid-area: graph;
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  &__simulator {
    width: 100%;
    height: 100%;
    background: var(--grl-color-primary-bg-fade);

    &__search {
      height: 100%;
      width: 100%;
      padding-left: 12px;
      border: none;
      background: transparent;
      outline: none !important;
      font-size: 13px;
    }

    &__nodes-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 8px;
      box-sizing: border-box;
      height: 100%;

      &__node {
        padding: 5px 8px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        user-select: none;

        & > span {
          font-size: 13px;
        }

        [data-role='name'] {
          white-space: nowrap;
        }

        [data-role='performance'] {
          flex-shrink: 0;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.06);
          cursor: pointer;
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &__segmentButton {
      &[data-active='true'] {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &__sidebar {
      width: 48px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      border-right: 1px solid var(--grl-color-border);
      padding-top: 0.5rem;
    }

    &__section {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        border-right: 1px solid var(--grl-color-border);
      }

      &__bar {
        border-bottom: 1px solid var(--grl-color-border);
        padding: 0 8px;
        display: flex;
        gap: 4px;
        justify-content: flex-start;
        align-items: center;
        height: 36px;
        user-select: none;

        &__actions {
          display: flex;
          gap: 8px;
          align-items: center;
        }

        &--request {
          justify-content: space-between;
        }

        &--nodes {
          justify-content: space-between;
          padding-left: 0;
        }

        &--response {
          justify-content: space-between;
          padding-left: 0;
        }
      }

      &__content {
        flex: 1;
        overflow-y: auto;
      }
    }

    &__request {
      width: 300px;
    }

    &__nodes {
      width: 260px;
    }

    &__response {
      min-width: 300px;
      flex: 1;
    }
  }

  &__panel {
    grid-area: bottom;
    position: relative;
    width: 100%;
    border-top: 1px solid var(--grl-color-border);
    height: 100%;
    background: var(--grl-color-primary-bg-fade);
    display: flex;
    flex-direction: column;

    &__content {
      flex: 1;
      min-height: 0;
      overflow: hidden;
    }

    &__toolbar {
      padding: 4px 4px 4px 8px;
      display: flex;
      gap: 8px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid var(--grl-color-border);

      &__content {
        flex-grow: 1;
      }

      &__actions {
        flex-shrink: 1;
      }

      & > span {
        font-size: 13px;
      }
    }
  }

  &__command-bar {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid var(--grl-color-border);
  }

  &__graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;

    .grl-graph-tabs {
      max-width: 100%;
      box-sizing: content-box;
      border-bottom: 1px solid var(--grl-color-border);
      background: var(--grl-color-bg-container);

      [role='tablist'] {
        margin: 0;
      }

      [data-node-key] {
        padding: 0;
        margin: 0;
      }

      $tabs: &;

      &__tab {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 9px 12px;
        transition: 0.1s ease;
        text-shadow: none;

        &[data-active='false'] {
          opacity: 0.75;
        }

        &:hover {
          opacity: 1;
        }

        &[data-active='true'],
        &:hover {
          .grl-graph-tabs__closeIcon {
            opacity: 1 !important;
          }
        }
      }

      &__closeIcon {
        transition: 0.1s ease;
        opacity: 0;

        > span {
          line-height: 0 !important;
        }
      }

      .ant-tabs-nav {
        &::before {
          border-bottom: none;
        }
      }

      .ant-tabs-tab-btn {
        color: var(--grl-color-text-secondary) !important;
      }

      .ant-tabs-tab-active::after {
        opacity: 1;
      }
    }

    .tab-content {
      flex: 1;
      width: 100%;
      height: 100%;
      position: relative;
      display: none;
      background-color: var(--grl-color-bg-container);
      min-height: 0;

      &.active {
        display: flex;
        flex-direction: column;
      }

      &:focus,
      &:focus-within {
        outline: none;
      }
    }

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      outline: 0 !important;
    }

    .react-flow {
      flex: 1;
      height: 100%;
      width: 100%;
      background-color: var(--grl-color-bg-layout);
    }

    .node {
      width: 180px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 0 8px;
      border: 1px solid var(--grl-color-border);
      border-radius: 4px;
      position: relative;
      background-color: var(--grl-color-bg-elevated);
      transition: var(--grl-transition);

      &:hover {
        border-color: var(--grl-color-primary-hover);
        cursor: pointer;
      }

      &.selected {
        border-color: var(--grl-color-primary-active);
      }

      &.simulated {
        background-color: var(--grl-color-primary-bg);
        border-color: var(--grl-color-primary-active);
      }

      &.error {
        background-color: var(--grl-color-error-bg);
        border-color: var(--grl-color-error-border);
      }

      &.input,
      &.output {
        border-radius: 100px;
      }

      .performance {
        position: absolute;
        top: -20px;
        right: 8px;
      }
    }
  }

  &__component-bar {
    grid-area: component;
    height: 100%;
    display: flex;
    background-color: var(--grl-color-bg-container);
    min-height: 0;
    border-left: 1px solid var(--grl-color-border);
  }

  &__aside {
    grid-area: sidebar;
    height: 100%;
    display: flex;
    background-color: var(--grl-color-bg-container);
    min-height: 0;

    &__side-bar {
      width: 48px;
      min-width: 48px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      border-right: 1px solid var(--grl-color-border);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &__top {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        .color-primary {
          color: var(--grl-color-primary);
        }
      }
    }

    &__menu {
      background-color: var(--grl-color-bg-container);
      width: 260px;
      min-width: 260px;
      height: 100%;
      border-left: 1px solid var(--grl-color-border);
      display: flex;
      flex-direction: column;

      &.collapsed {
        width: 40px;
        min-width: 40px;
      }

      &__heading {
        padding: 6px 12px;
        border-bottom: 1px solid var(--grl-color-border);
        background: var(--grl-color-primary-bg-fade);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__text {
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }

      &__content {
        flex: 1;
        overflow-y: auto;
      }

      &__components {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &__search {
          border-left: none;
          border-top: none;
          border-right: none;
          border-radius: 0;
          height: auto;
          box-shadow: none;
          position: sticky;
          top: 0;
          z-index: 1;
          font-size: 13px;
        }

        .draggable-component {
          cursor: grab;
          transform: translate(0);

          &[draggable='false'] {
            cursor: not-allowed;
            user-select: none;

            .grl-dn {
              color: var(--grl-color-bg-container-disabled);
            }

            .grl-dn__header__icon {
              filter: grayscale(1) opacity(0.3);
            }
          }

          &[draggable='true'] {
            &:hover,
            &:active {
              .grl-dn__header__icon {
                filter: none;
              }
            }
          }

          .grl-dn__header__icon {
            transition: var(--grl-transition);
            filter: opacity(0.5) grayscale(0.3);
          }
        }
      }
    }

    .node-form {
      position: relative;
      padding: 1rem;

      .button {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 99;
      }

      .form {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .react-flow {
    &__handle {
      border: 1px solid var(--grl-color-primary-border);
      background-color: var(--grl-color-primary-bg);
      height: 7px;
      width: 7px;
      border-radius: 50% !important;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
      }
    }

    &__handle-left {
      left: -3px !important;

      &::after {
        transform: translate(-80%, -50%);
        width: 36px;
        height: 36px;
      }
    }

    &__handle-right {
      right: -3px !important;

      &::after {
        transform: translate(-20%, -50%);
        width: 36px;
        height: 36px;
      }
    }

    &__edge-interaction {
      stroke-width: 50;
    }

    &__edge-path-selector {
      fill: none;
      stroke: transparent;
      stroke-width: 15;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .react-flow__edge-path-selector:hover + .react-flow__edge-path,
  .react-flow__edge-path:hover {
    stroke: var(--grl-color-primary-border-hover);
    cursor: pointer;
  }

  .react-flow__panel {
    box-shadow: none;
    border: 1px solid var(--grl-color-border);
  }

  .react-flow__controls-button {
    background: var(--grl-color-bg-elevated);
    color: var(--grl-color-text);
    border-color: var(--grl-color-border);
    transition: var(--grl-transition);
    height: 24px;
    width: 24px;

    &:hover {
      background: var(--grl-color-primary-hover);
    }

    svg {
      fill: currentColor;
    }
  }

  .react-flow__attribution {
    color: var(--grl-color-text);
    border: none;
    background: transparent;
  }

  .edge-renderer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    pointer-events: all;
    z-index: 1000;
  }

  &__view {
    padding: 24px;
    background-color: var(--grl-color-bg-layout);
    height: 100%;
    overflow-y: auto;

    flex: 1;
    width: 100%;
    position: relative;
    display: none;
    min-height: 0;

    &.active {
      display: flex;
      flex-direction: column;
    }

    &:focus,
    &:focus-within {
      outline: none;
    }

    &__content {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      &__heading {
        margin-bottom: 24px;

        &__first-row {
          display: flex;
          justify-content: space-between;
        }
      }

      &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
      }

      &__node-groups {
        margin-bottom: 32px;
      }
    }

    .config-item-card {
      border-radius: 8px;
      border: 1px solid var(--grl-color-border);

      &__content {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &:hover {
        border-color: var(--grl-color-border-hover);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }

      &.success {
        --node-background: var(--grl-color-success-bg);
      }

      &.error {
        --node-background: var(--grl-color-error-bg);
      }

      &.modified {
        border-color: var(--grl-color-warning) !important;

        &:hover {
          border-color: var(--grl-color-warning) !important;
        }
      }
    }
  }
}

.grl-edge-delete-button {
  opacity: 0;
  pointer-events: none;
  transition: var(--grl-transition);
  padding: 0 !important;
  width: 32px !important;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-visible='true'] {
    opacity: 1;
    pointer-events: all;
  }
}

.grl-graph-node {
  visibility: visible !important;

  &__handle-left {
    z-index: 20;
    top: 20px;

    &.compact {
      top: 20px;
    }
  }

  &__handle-right {
    z-index: 20;
    top: 20px;

    &.compact {
      top: 20px;
    }
  }
}

.switch {
  width: 220px;
  height: auto;
  padding: 0;
  border-radius: 4px;

  .switchNode {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    &__activeHandle {
      background-color: var(--grl-color-success-bg) !important;
      border-color: var(--grl-color-success) !important;
    }

    .react-flow__handle {
      z-index: 20;
      top: calc(50% - 1px);
      right: -4px !important;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
      text-align: center;
      position: relative;
    }

    &__conditionsText {
      height: 20px;
      padding: 0 var(--node-horizontal-padding);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      padding: 0 0 4px 0;

      &.edit {
        padding: 0;
      }

      .no-conditions {
        padding: 0 12px;
      }
    }

    &__addButton {
      width: 100%;
      border-radius: 0;
      height: 40px;
      margin: 0 auto;
    }

    &__statement {
      position: relative;
      background-color: var(--grl-color-bg-container);
      &:not(:last-child) {
        border-bottom: 1px solid var(--grl-color-border);
      }

      &.diff-added {
        background-color: var(--grl-color-success-bg);
      }

      &.diff-modified {
        background-color: var(--grl-color-warning-bg);
      }

      &.diff-removed {
        background-color: var(--grl-color-error-bg);
      }

      &.active {
        background-color: var(--grl-color-success-bg);
      }

      &__delete {
        color: var(--grl-color-text-disabled);
      }

      &__heading {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 4px var(--node-horizontal-padding);

        &__action {
          font-size: 12px;
          font-weight: 500;

          &.inactive {
            color: var(--grl-color-text-disabled);
          }
        }
      }

      &__inputArea {
        padding: 0px var(--node-horizontal-padding) 7px;
        display: flex;
      }

      textarea {
        border-radius: 4px;
        padding-right: 32px;

        &:hover,
        &:active,
        &:focus {
          z-index: 1;
        }
      }

      &.compact {
        position: relative;

        .switchNode__statement__inputArea {
          padding: 8px 10px;

          .cm-editor {
            padding-right: 14px;
          }
        }

        .switchNode__statement__button {
          position: absolute;
          top: 10px;
          right: 14px;
        }
      }
    }
  }
}

.single-line {
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
}

.single-line br {
  display: none;
}

.single-line * {
  display: inline;
  white-space: nowrap;
}

.grl-node-content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.grl-node-content-main {
  flex: 1;
}

.grl-node-content-side {
  height: 100%;
  width: 100%;
  //border-left: 1px solid var(--grl-color-border);

  &__panel {
    background: var(--grl-color-bg-elevated);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    background: var(--grl-color-primary-bg-fade);
    flex-shrink: 0;
    border-bottom: 1px solid var(--grl-color-border);
  }

  &__body {
    overflow-y: auto;
    flex-grow: 1;
  }
}
