:root {
  --mono-font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
  --grl-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  --grl-transition-quick: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.full-width {
  width: 100%;
}

.grl-textarea-input {
  line-height: var(--grl-line-height);
  color: var(--grl-color-text);
  resize: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--grl-font-family);
  border-radius: var(--grl-border-radius);
  border: 1px solid var(--grl-color-border);
  background: var(--grl-color-bg-container);
  padding: 4px 11px;
  font-size: 14px;

  transition: var(--grl-transition);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--grl-control-outline);
    border-color: var(--grl-color-primary-hover);
  }

  &:hover {
    border-color: var(--grl-color-primary-hover);
    border-inline-end-width: 1px;
  }

  &::placeholder {
    color: var(--grl-color-text-placeholder);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--grl-color-bg-container-disabled);
    color: var(--grl-color-text-disabled);
    border-color: var(--grl-color-border);
    box-shadow: none;
  }
}

.ant-notification-notice {
  margin: 0 !important;
}

.text-added {
  color: var(--grl-color-success);
}

.text-modified {
  color: var(--grl-color-warning);
}

.text-removed {
  color: var(--grl-color-error);
  text-decoration: line-through var(--grl-color-error);
}

.diff-input-group {
  border: 1px solid var(--grl-color-border);
  border-radius: var(--grl-border-radius);
  overflow: hidden;

  .previous-input {
    border: none;
    //color: var(--grl-color-error);
    text-decoration: line-through var(--grl-color-error);
    &:focus {
      box-shadow: unset;
    }
  }

  .current-input {
    border: none;
    //color: var(--grl-color-success);
    &:focus {
      box-shadow: unset;
    }
  }
}

.diff-code-editor {
  width: 100%;
  border: 1px solid var(--grl-color-border);
  border-radius: var(--grl-border-radius);
  overflow: hidden;

  &.no-style {
    border: unset;
    border-radius: unset;
  }

  .previous-input {
    //background: var(--grl-color-error-bg);
    text-decoration: line-through var(--grl-color-error);
  }

  .current-input {
    //background: var(--grl-color-success-bg);
  }
}

.diff-text-area-group {
  width: 100%;
  border: 1px solid var(--grl-color-border);
  border-radius: var(--grl-border-radius);
  overflow: hidden;

  &.no-style {
    border: unset;
    border-radius: unset;
  }

  .previous-input {
    //background: var(--grl-color-error-bg);
    text-decoration: line-through var(--grl-color-error);
    border: unset;

    &:focus {
      box-shadow: unset;
    }
  }

  .current-input {
    //background: var(--grl-color-success-bg);
    border: unset;

    &:focus {
      box-shadow: unset;
    }
  }
}
