.expression-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-sizing: border-box;

  &__item {
    position: relative;
    display: grid;
    background: var(--grl-color-background);
    grid-auto-flow: column;
    align-items: flex-start;
    grid-template-columns: 16px minmax(240px, 1fr) 3fr 32px;
    padding: 1rem 1rem;
    gap: 12px;

    &--heading {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--grl-color-border);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      background: var(--grl-color-primary);
    }

    &.dropping-up:after {
      top: -1px;
      height: 2px;
    }

    &.dropping-down:after {
      bottom: -1px;
      height: 2px;
    }
  }

  &__button {
    grid-column: 1 / -1;
  }

  .expression-list-item {
    &__drag {
      color: var(--grl-color-text-secondary);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 8px;
      cursor: grab;
      font-size: 12px;
      height: 100%;

      &[aria-disabled='true'] {
        cursor: not-allowed;
      }
    }

    &__code {
      position: relative;
    }

    &__resultOverlay {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      padding: 2px 6px;
      border-radius: 4px;
      background: var(--grl-color-success-bg);
      border: 1px solid var(--grl-color-success-border);

      max-height: calc(100% - 5px);
      max-width: 50%;
      white-space: nowrap;
      overflow-x: auto;
    }
  }
}
