.expression-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  $pv: 9px;
  $ph: 12px;

  &__item {
    position: relative;
    display: grid;
    background: var(--grl-color-background);
    grid-auto-flow: column;
    align-items: flex-start;
    grid-template-columns: 40px minmax(240px, 1fr) 3fr 40px;
    border-right: 1px solid var(--grl-color-border-fade);

    &--heading {
      background: var(--grl-color-bg-layout);
      border-bottom: 1px solid var(--grl-color-border);
      border-right: 1px solid var(--grl-color-border);
      position: sticky;
      top: 0;
      z-index: 15;
    }

    &__th {
      padding: $pv $ph;

      &--key {
        border-right: 1px solid var(--grl-color-border);
      }

      &--order {
        border-right: 1px solid var(--grl-color-border);
        height: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      background: var(--grl-color-primary);
    }

    &.dropping-up:after {
      top: -1px;
      height: 2px;
    }

    &.dropping-down:after {
      bottom: -1px;
      height: 2px;
    }

    &--added {
      background-color: var(--grl-color-success-bg);
    }

    &--removed {
      background-color: var(--grl-color-error-bg);
    }

    &--modified {
      background-color: var(--grl-color-warning-bg);
    }
  }

  &__button-wrapper {
    padding: 8px 0;
    margin-bottom: 60px;
    border-right: 1px solid var(--grl-color-border-fade);
    border-bottom: 1px solid var(--grl-color-border-fade);
  }

  &__button {
    grid-column: 1 / -1;
  }

  .expression-list-item {
    > * {
      border-bottom: 1px solid var(--grl-color-border-fade);
      height: 100%;
      box-sizing: border-box;
    }

    > :first-child {
      border-bottom: 1px solid var(--grl-color-border);
    }

    &__drag {
      background: var(--grl-color-bg-layout);
      color: var(--grl-color-text-secondary);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 13px;
      cursor: grab;
      font-size: 12px;
      height: 100%;
      border-right: 1px solid var(--grl-color-border);
      border-bottom: 1px solid var(--grl-color-border);

      &[aria-disabled='true'] {
        cursor: not-allowed;
      }

      &__inner {
        display: flex;
        align-content: center;
        gap: 3px;
        opacity: 0.5;

        > span {
          line-height: 1.4;
        }
      }
    }

    &:focus {
      background: red;
    }

    &__key {
      input {
        padding: $pv $ph;
        border-right: 1px solid var(--grl-color-border-fade);
        border-radius: 0;
        font-family: var(--mono-font-family);
        line-height: 24px;
      }
    }

    &__code {
      position: relative;
    }

    &__value {
      .cm-content {
        padding: $pv 60px $pv $ph;
      }

      .cm-placeholder {
        color: #bfbfbf;
      }
    }

    &__resultOverlay {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      padding: 2px 6px;
      border-radius: 4px;
      background: var(--grl-color-success-bg);
      border: 1px solid var(--grl-color-success-border);

      max-height: calc(100% - 5px);
      max-width: 50%;
      white-space: nowrap;
      overflow-x: auto;

      > span {
        font-family: var(--mono-font-family);
        font-size: 12px;
      }
    }

    &__livePreview {
      position: absolute;
      top: 100%;
      right: -1px;
      padding: 8px;
      border: 1px solid var(--grl-color-border-fade);
      border-top: none;
      width: 400px;
      max-width: 50%;
      background: white;

      white-space: nowrap;
      overflow-x: auto;
      z-index: 5;

      opacity: 1;
      pointer-events: bounding-box;

      &:hover {
        opacity: 0.5;
      }
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;

      > button {
        display: none;
      }
    }

    &:hover .expression-list-item__action > button,
    &:focus-within .expression-list-item__action > button {
      display: flex;
    }
  }
}
