.grl-dt {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  padding-right: 4px;

  --table-color: var(--grl-color-bg-layout);

  &__container {
    position: relative;
  }

  &__add-row-wrapper {
    padding: 8px;
    position: sticky;
    bottom: 0;
  }

  &__add-row {
    max-width: var(--dt-container-width);
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) background-color !important;
  }

  .grl-dt-text-primary {
    .grl-text-edit__text,
    .grl-text-edit__input {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .grl-dt-field {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    margin-top: 2px;
    border-radius: 6px;
    font-size: 8px;
    font-family: var(--mono-font-family);
  }

  .table {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: arial, sans-serif;
    width: fit-content;
    background-color: var(--grl-color-bg-container);
    height: 1px;
    min-width: 100%;

    .cell-wrapper {
      display: flex;
      align-items: stretch;
      width: 100%;
      height: 100%;
      line-height: 0;

      > * {
        flex-grow: 1;
      }

      .grl-ce {
        height: 100%;

        .cm-editor {
          height: 100%;
        }
      }
    }

    thead {
      background-color: var(--table-color);
      border-color: var(--grl-color-border);
      margin: 0;
      position: sticky;
      top: 0;
      z-index: 10;

      button {
        color: var(--grl-color-text-secondary);
      }

      th {
        height: 40px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        font-weight: normal;

        &[data-self='output'],
        &[data-parent='output'],
        &[data-self='description'] {
          background: var(--table-color);
        }

        .head-cell {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          min-height: 0;
          padding: 4px 8px;
          box-sizing: border-box;

          &.diff-added {
            box-shadow: 0 0 0 2px var(--grl-color-success);
          }

          &.diff-modified {
            box-shadow: 0 0 0 2px var(--grl-color-warning);
          }

          &.diff-removed {
            box-shadow: 0 0 0 2px var(--grl-color-error);
          }
        }

        .text-wrapper {
          overflow: hidden;

          .span-overflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
          }
        }

        .cta-wrapper {
          display: flex;
        }
      }
    }

    tbody {
      background-color: var(--grl-color-bg-container);

      tr {
        width: fit-content;
        min-height: 36px;

        &.selected > td:first-of-type {
          background-color: var(--grl-color-primary-bg-fade);
        }

        &.selected {
          background-color: var(--grl-color-primary-bg-fade);
        }

        td.diff-modified {
          background-color: var(--grl-color-warning-bg);
        }

        td.diff-added {
          background-color: var(--grl-color-success-bg);
        }

        td.diff-removed {
          background-color: var(--grl-color-error-bg);
        }

        &.disabled {
          background-color: rgba(0, 0, 0, 0.02);

          [contenteditable] {
            background-color: transparent;
            color: var(--grl-color-text-secondary);
          }
        }
      }

      td {
        min-height: 36px;
        padding: 0;
        outline: 1.5px solid transparent;
        outline-offset: -1.5px;

        &.selected {
          outline-color: var(--grl-color-border);
        }

        &.sort-handler {
          padding: 2px 14px;
          background-color: var(--table-color) !important;

          &.draggable {
            cursor: grab;
          }

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding-top: 6px;
          }

          &.diff {
            background-color: transparent !important;
          }
        }
      }
    }

    tfoot {
      background-color: var(--grl-color-bg-elevated);
    }

    .add-row {
      text-align: center;
      cursor: pointer;
    }

    .grl-dt__container {
      flex: 1;
      overflow: auto;
    }

    .resizer {
      position: absolute;
      right: -5px;
      z-index: 1;
      top: 0;
      height: 100%;
      width: 10px;
      cursor: col-resize;
      user-select: none;
      touch-action: none;

      &--last {
        right: 0;
        width: 16px;
      }

      &::after {
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        margin: 0 auto;
        transition: 0.1s ease;
        border-radius: 3px;
      }

      &:hover::after {
        background: var(--grl-color-primary-hover);
      }
    }

    th {
      box-shadow: inset 0 0 0 0.3px var(--grl-color-border);
    }

    td {
      box-shadow: inset 0 0 0 0.3px var(--grl-color-border);
    }

    .table-row {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: var(--grl-color-primary);
      }

      &.dropping-up:after {
        top: 0;
        height: 2px;
      }

      &.dropping-down:after {
        bottom: 0;
        height: 2px;
      }

      &.active {
        background-color: var(--grl-color-success-bg);
      }

      &.diff-added {
        background-color: var(--grl-color-success-bg);
      }

      &.diff-modified {
        //background-color: var(--grl-color-warning-bg);
      }

      &.diff-removed {
        background-color: var(--grl-color-error-bg);
      }
    }
  }

  &__cell__input {
    &__status {
      $size: 5px;

      position: absolute;
      top: 2px;
      left: 2px;
      z-index: 5;
      opacity: 0.8;
      border-radius: 50%;
      height: $size;
      width: $size;
      border: 1px solid transparent;

      &[data-status='hit'] {
        border-color: var(--grl-color-success);
        background: var(--grl-color-success);
      }

      &[data-status='no-hit'] {
        border-color: var(--grl-color-border-hover);
      }
    }

    &__container {
      position: relative;
    }

    &.grl-textarea-input {
      border: 0;
      width: 100%;
      background-color: transparent;
      padding: 9px 0.75rem;
      font-size: 14px;
      opacity: 0.7;

      &:focus {
        box-shadow: none !important;
      }
    }

    &.grl-ce {
      --ce-verticalPadding: 9px;
      --ce-horizontalPadding: 0.75rem;

      .cm-editor {
        border: 0 !important;
        box-shadow: none !important;
        border-radius: 0;
        width: 100%;
        background-color: transparent;
      }
    }
  }

  &__fields-reorder__item {
    &:hover {
      cursor: grab;
    }
  }

  &__command-bar {
    padding: 7px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--grl-color-border);
  }
}
