.grl-function {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }

  &__errorLineContent {
    background: #fff1f0;
  }

  $this: &;

  &[data-theme='dark'] {
    #{$this}__errorLineContent {
      background: #4e3534;
    }
  }

  &__debugger {
    height: 100%;
    border-left: 1px solid var(--grl-color-border);

    &__panel {
      background: var(--grl-color-bg-elevated);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__header {
      display: flex;
      align-items: center;
      background: var(--grl-color-primary-bg-fade);
      flex-shrink: 0;
    }

    &__body {
      overflow-y: auto;
      flex-grow: 1;
    }

    &__log {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      //border-bottom: 1px solid var(--grl-color-border);
      border-bottom: 1px solid #e9e9e9;
      padding: 0 1.5rem 0 1rem;
      color: var(--grl-color-text-base);
      font-family: var(--mono-font-family);
      line-height: var(--grl-line-height);
      font-size: 12px;

      &__time {
        padding-top: 1ch;
        opacity: 0.5;
      }

      &__values {
        display: flex;
        align-items: center;

        > ul {
          display: inline-block;

          &:first-of-type {
            > li:first-of-type {
              margin-left: 0 !important;
            }
          }

          > li {
            padding: 0 !important;
          }
        }

        li > div + label + span {
          display: none;
        }

        li > div > div {
          transition: transform 0.25s ease !important;
          font-size: 0.8em !important;
          opacity: 0.25;
          font-family: emoji;
        }
      }
    }
  }
}
