:root {
  --border-color: #f0f2f5;
  --primary-color: #1677ff;
  --mono-font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

.full-width {
  width: 100%;
}
