.grl-dt {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: arial, sans-serif;
    width: fit-content;
    background-color: var(--grl-color-bg-container);
    height: 1px;

    .cell-wrapper {
      width: 100%;
      height: 100%;
    }

    thead {
      background-color: var(--grl-color-bg-layout);
      border-color: var(--grl-color-border);
      margin: 0;
      position: sticky;
      top: 0;
      z-index: 10;

      th {
        height: 40px;
        padding: 4px 8px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        font-weight: normal;

        .text-wrapper {
          overflow: hidden;
          .span-overflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        .cta-wrapper {
          display: flex;
        }
      }
    }

    tbody {
      background-color: var(--grl-color-bg-container);

      tr {
        width: fit-content;
        min-height: 36px;

        &.selected > td:first-of-type {
          background-color: var(--grl-color-primary-bg);
        }
      }

      td {
        min-height: 36px;
        padding: 0;
        outline: 2px solid transparent;
        outline-offset: -2px;

        &.selected {
          outline-color: var(--grl-color-primary-hover);
        }

        &.sort-handler {
          padding: 2px 14px;

          &.draggable {
            cursor: grab;
          }

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }

    tfoot {
      background-color: var(--grl-color-bg-elevated);
    }

    .add-row {
      text-align: center;
      cursor: pointer;
    }

    .grl-dt__container {
      flex: 1;
      overflow: auto;
    }

    .resizer {
      position: absolute;
      right: -5px;
      z-index: 1;
      top: 0;
      height: 100%;
      width: 10px;
      cursor: col-resize;
      user-select: none;
      touch-action: none;
    }

    th,
    td {
      box-shadow: inset 0 0 0 0.5px var(--grl-color-border);
    }

    .table-row {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: var(--grl-color-primary);
      }

      &.dropping-up:after {
        top: 0;
        height: 2px;
      }

      &.dropping-down:after {
        bottom: 0;
        height: 2px;
      }

      &.active {
        background-color: var(--grl-color-primary-bg);
      }
    }
  }

  &__cell__input {
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    font-size: 14px;

    &:focus {
      box-shadow: none !important;
    }
  }

  &__fields-reorder__item {
    &:hover {
      cursor: grab;
    }
  }

  &__command-bar {
    padding: 0.5rem;
    box-sizing: border-box;
  }
}
