.grl-dt__container {
  flex: 1;
  overflow: auto;
}

.grl-dt {
  padding-top: 0.5rem;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: arial, sans-serif;
    width: fit-content;
    background-color: var(--color-bg-container);

    * {
      scroll-margin-top: 129px;
      scroll-margin-bottom: 40px;
      scroll-margin-left: 72px;
    }

    &:focus {
      outline: none !important;
    }

    thead {
      background-color: var(--color-bg-layout);
      border-color: var(--border-color);
      margin: 0;
      top: 0;
      z-index: 10;

      th {
        height: 40px;
        padding: 4px 8px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        min-width: 200px;
        font-weight: normal;
      }
    }

    tbody {
      background-color: var(--color-bg-container);

      tr {
        width: fit-content;
        height: 30px;

        &.row-selected > td:first-of-type {
          background-color: var(--primary-color-bg);
        }
      }

      td {
        height: 36px;
        padding: 0;

        &.selected {
          outline: 2px solid var(--primary-color);
          outline-offset: -2px;
        }

        &.sort-handler {
          padding: 2px 14px;

          &.draggable {
            cursor: grab;
          }

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }

    tfoot {
      background-color: var(--color-bg-elevated);
    }

    .add-row {
      text-align: center;
      cursor: pointer;
    }

    .resizer {
      position: absolute;
      right: -5px;
      z-index: 1;
      top: 0;
      height: 100%;
      width: 10px;
      cursor: col-resize;
      user-select: none;
      touch-action: none;
    }

    th, td {
      box-shadow: inset 0 0 0 0.5px var(--border-color);
    }

    .table-row {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: var(--primary-color);
      }

      &.dropping-up:after {
        top: 0;
        height: 2px;
      }

      &.dropping-down:after {
        bottom: 0;
        height: 2px;
      }
    }
  }

  &__cell__input {
    border: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding-left: 0.5rem;
    font-size: 14px;

    &:focus {
      box-shadow: none !important;
    }
  }

  &__fields-reorder__item {
    &:hover {
      cursor: grab;
    }
  }
}

.grl-dt__cell__input {
  &[readonly] {
    cursor: cell;
  }
}