.grl-dt {
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  //overscroll-behavior: none;

  --table-input-color: #5e6476;
  --table-output-color: #63546c;

  //--table-input-color: #003F73;
  //--table-output-color: #302442;

  //--table-input-color: #373a43;
  //--table-output-color: #4d4552;

  //--table-input-color: #303659;
  //--table-output-color: #3b3560;

  &__container {
    position: relative;

    &[data-theme="dark"] {
      --table-input-color: #082742;
      --table-output-color: #28203F;
    }
  }

  &__add-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: var(--dt-container-width);
    position: sticky;
    bottom: 0;
    left: 1px;
    border-radius: 0;
    color: var(--grl-color-text-secondary);
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1) background-color !important;
  }

  .grl-dt-text-primary {
    color: white;
  }

  .grl-dt-text-secondary {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .table {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: arial, sans-serif;
    width: fit-content;
    background-color: var(--grl-color-bg-container);
    height: 1px;

    .cell-wrapper {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }

    thead {
      background-color: var(--table-input-color);
      border-color: var(--grl-color-border);
      margin: 0;
      position: sticky;
      top: 0;
      z-index: 10;

      button {
        color: var(--grl-color-text-secondary);
      }

      th {
        height: 40px;
        padding: 4px 8px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        font-weight: normal;

        &[data-self="output"], &[data-parent="output"], &[data-self="description"] {
          background: var(--table-output-color);
        }

        .text-wrapper {
          overflow: hidden;
          .span-overflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        .cta-wrapper {
          display: flex;
        }
      }
    }

    tbody {
      background-color: var(--grl-color-bg-container);

      tr {
        width: fit-content;
        min-height: 36px;

        &.selected > td:first-of-type {
          background-color: var(--grl-color-primary-bg-fade);
        }

        &.selected {
          background-color: var(--grl-color-primary-bg-fade);
        }

        &.disabled {
          background-color: var(--grl-color-bg-container-disabled);
          textarea {
            background-color: transparent;
          }
        }
      }

      td {
        min-height: 36px;
        padding: 0;
        outline: 1.5px solid transparent;
        outline-offset: -1.5px;

        &.selected {
          outline-color: var(--grl-color-border);
        }

        &.sort-handler {
          padding: 2px 14px;
          background-color: var(--grl-color-bg-layout) !important;

          &.draggable {
            cursor: grab;
          }

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }

    tfoot {
      background-color: var(--grl-color-bg-elevated);

      td {
        height: 32px;
      }
    }

    .add-row {
      text-align: center;
      cursor: pointer;
    }

    .grl-dt__container {
      flex: 1;
      overflow: auto;
    }

    .resizer {
      position: absolute;
      right: -5px;
      z-index: 1;
      top: 0;
      height: 100%;
      width: 10px;
      cursor: col-resize;
      user-select: none;
      touch-action: none;
    }

    th {
      box-shadow: inset 0 0 0 0.2px rgba(0,0, 0, 0.7);
    }

    td {
      box-shadow: inset 0 0 0 0.4px var(--grl-color-border);
    }

    .table-row {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: var(--grl-color-primary);
      }

      &.dropping-up:after {
        top: 0;
        height: 2px;
      }

      &.dropping-down:after {
        bottom: 0;
        height: 2px;
      }

      &.active {
        background-color: var(--grl-color-primary-bg);
      }
    }
  }

  &__cell__input.grl-textarea-input {
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: 9px 0.75rem;
    font-size: 14px;

    &:focus {
      box-shadow: none !important;
    }
  }

  &__fields-reorder__item {
    &:hover {
      cursor: grab;
    }
  }

  &__command-bar {
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid var(--grl-color-border);
  }
}
