name: Publish version
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build:
    if: "startsWith(github.event.head_commit.message, 'chore(release)')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v3
        with:
          version: 9
          run_install: true

      - name: Build
        run: pnpm build

      - name: Publish Beta
        run: pnpm lerna publish from-package --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
