[package]
name = "zen-engine-wasm"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
bumpalo = "3"
zen-expression = { version = "0.53.0", default-features = false, features = ["regex-lite"] }

getrandom = { version = "0.3", features = ["wasm_js"] }
fastrand = { version = "2", features = ["js"] }
js-sys = "0.3"
strum = "0.27"

rust_decimal = { version = "1.37", features = ["maths-nopanic"] }
gloo-utils = { version = "0.2", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
wasm-bindgen = "0.2"

[package.metadata.wasm-pack.profile.profiling]
wasm-opt = ['-O', '--enable-bulk-memory']

[package.metadata.wasm-pack.profile.release]
wasm-opt = ['-Oz', '--enable-bulk-memory']