.grl-dn {
  display: flex;
  flex-direction: column;
  gap: 8px;

  --node-border-radius: 8px;
  --node-horizontal-padding: 8px;
  --node-color: var(--grl-color-primary);
  --node-background: var(--grl-color-bg-container);
  --node-small-text: 12px;

  &--success {
    --node-background: var(--grl-color-success-bg);
  }

  &--error {
    --node-background: var(--grl-color-error-bg);
  }

  &--warning {
    --node-background: var(--grl-color-warning-bg);
  }

  &--diff-added &__graphCard {
    border-color: var(--grl-color-success) !important;

    &:hover {
      border-color: var(--grl-color-success) !important;
    }
  }

  &--diff-moved &__graphCard {
    border-color: var(--grl-color-info) !important;

    &:hover {
      border-color: var(--grl-color-info) !important;
    }
  }

  &--diff-modified &__graphCard {
    border-color: var(--grl-color-warning) !important;

    &:hover {
      border-color: var(--grl-color-warning) !important;
    }
  }

  &--diff-removed &__graphCard {
    border-color: var(--grl-color-error) !important;

    &:hover {
      border-color: var(--grl-color-error) !important;
    }
  }

  &--color {
    &--primary {
      --node-color: var(--grl-color-primary);
    }

    &--secondary {
      --node-color: #722ed1;
    }
  }

  &--list &__graphCard {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--grl-color-border-fade);
  }

  &--selected &__graphCard {
    border-color: var(--grl-color-primary-active) !important;
  }

  &:hover &__graphCard {
    border-color: var(--grl-color-border-hover);
  }

  &__graphCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grl-color-border);
    background: var(--node-background);
    cursor: grab;
    border-radius: var(--node-border-radius);
    transition: var(--grl-transition);
    position: relative;
  }

  &__status-bar {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
  }

  &__status-icon {
    color: var(--grl-color-text-secondary);
    border-radius: 16px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &--success {
      background-color: var(--grl-color-success);
      color: #fff;
    }

    &--error {
      background-color: var(--grl-color-error);
      color: #fff;
    }
  }

  &__header {
    display: grid;
    padding: 8px;
    gap: 0;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    box-sizing: border-box;
    height: 40px;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 24px;
      font-size: 16px;

      border-radius: 4px;
      color: white;
      background-color: var(--node-color);
      margin-right: 2px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      margin-right: 8px;
      max-width: 140px;

      &__name-input {
        height: 19px;
        width: 120px;
        padding: 0 4px;
        font-size: 14px;
        font-family: var(--grl-font-family);
      }

      &__name {
        min-height: 23px;
        border-radius: 4px;
        max-width: 132px;
        transition: var(--grl-transition);
        overflow: hidden;
        white-space: nowrap;
        width: min-content;

        &:hover:not(:focus-within) {
          background-color: var(--grl-color-bg-text-hover);
        }

        &:focus-within {
          box-shadow: 0 0 0 1px var(--grl-color-border);
        }
      }

      > span {
        line-height: 1.35;
        padding: 2px 6px;
      }
    }

    &__actions {
    }
  }

  &__body {
    padding: var(--node-horizontal-padding);
    border-top: 1px solid var(--grl-color-border);

    &--no-footer {
      border-radius: 0 0 var(--node-border-radius) var(--node-border-radius);
    }

    &--no-padding {
      padding: 0;
    }
  }

  &__footer {
    background: var(--grl-color-primary-bg-fade);
    border-radius: 0 0 var(--node-border-radius) var(--node-border-radius);
    border-top: 1px solid var(--grl-color-border-fade);
    overflow: hidden;

    &__actions {
      display: flex;

      button {
        padding: 2px 8px;
        font-size: 12px;
        color: var(--grl-color-text-secondary);
        height: auto;
        border-radius: 0;
      }
    }
  }

  &__cn {
    &__form {
      padding: 0.5rem;
      font-size: var(--node-small-text);
      .ant-form-item-label {
        padding: 0 !important;
      }

      .grl-ce {
        font-size: 12px;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      background-color: var(--grl-color-primary-bg-fade);
      border-radius: var(--node-border-radius) var(--node-border-radius) 0 0;
      border-bottom: 1px solid var(--grl-color-border);

      &__text {
        font-size: var(--node-small-text);
        color: var(--grl-color-text-secondary);
      }

      &__close {
        color: var(--grl-color-text-secondary);
        font-size: 0;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 2px;

      .ant-typography {
        font-size: var(--node-small-text) !important;
      }

      .settings-form {
        .ant-typography {
          font-size: var(--node-small-text) !important;
        }

        .ant-form-item-row {
          text-align: start;
          display: flex;
          flex-direction: column !important;
          flex-flow: row wrap;
          min-width: 100%;
        }

        .ant-form-item-label {
          padding-bottom: 0 !important;
          height: unset;
          text-align: start;
        }

        .grl-ce {
          font-size: var(--node-small-text);
        }

        .ant-input {
          padding: 4px 11px;
          line-height: 1.34;
          font-size: var(--node-small-text);
          border-radius: 6px;
        }

        label {
          font-size: var(--node-small-text) !important;
          height: unset;

          &::after {
            content: none !important;
          }
        }

        .ant-form-item {
          margin-bottom: 8px !important;

          &:last-of-type {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
